@charset "utf-8";
/* CSS Document */
.tong{ width:780px; height:900px; margin:auto}
.tren{width:100%; height:125px;}
img {
    float: left;
}
.tren1{ width:780px; height:36px; background:#0033FE; color:#FFF; line-height:36px}
.trai { width:140px; height:745px; background:#0099FF; float:left; background-image:url(Images/nen_trai.gif)}
.phai{width:140px; height:745px; background:#0099FF; float:right; background-image:url(Images/nen_phai.gif)}

.giua{ width:500px; height:745px; float:left}


