*{
    margin: 0px;
    padding: 0px;
}

    #tong{
    width: 1200px;
    margin: auto;
   
}
    #Header{
        border: 2px solid red;
        width: 800px;
        height: 400px;
        display: table;
    }
    #left{
        width: 600px;
        height: 1400px;
        border: 2px solid yellow;
        display: table-cell;

    }
    #body{
    width: 1400px;
    height: 1400px;
    border: 2px solid orange;
    display: table-cell;
    }
    #footer{
        clear: both;
        width: 1200px;
        height: 200px;
        border: 2px solid blue;
    }
    .footer_phia_tren {
        float: left;
        width: 235px;
    }

    .footer_phia_tren ul li a {
        text-decoration: none;
        color: black;
    }
    .btn {
        border: none;
        outline: none;
        padding: 12px;
        background-color: white;
        cursor: pointer;
      }
      
      .btn:hover {
        background-color: #ddd;
      }
      
      .btn.active {
        background-color: #666;
        color: white;
      }
      .container {
        margin-top: 20px;
        overflow: hidden;
      }


      